.gradle/
.idea/
out/
*/*.iml
*.iml
*~
*.zip
parser/JFlex.jar
parser/idea-flex.skeleton
/**/target/
*/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
